<div class="relative w-full max-w-sm mx-auto space-y-4">
  <!--Background shape-->
  <div
    class="absolute top-0 -left-10 ptablet:-left-32 h-[480px] w-[480px] rotate-45 mask mask-hexed bg-primary-100 dark:bg-primary-500/5 z-0"
  >
  </div>

  <img
    class="relative mx-auto rounded-full shadow-lg"
    src="/img/screens/team.jpeg"
    alt="{{ $user->name }}"
  />
</div>
